<mat-card class="home mat-elevation-z3">
       <mat-card-title class="title">
        QR-CODE
        </mat-card-title>
        <mat-card-subtitle>Gere sua crendecial aqui </mat-card-subtitle>
      

    <form>
         <mat-form-field appearance="outline">
           <mat-label>Nome    </mat-label>
             <input matInput >
          </mat-form-field>


         <mat-form-field appearance="outline">
           <mat-label>E-mail</mat-label>
              <input matInput >
          </mat-form-field>
 

       <mat-form-field appearance="outline">
         <mat-label>Twitter</mat-label>
        <input matInput >          
        </mat-form-field> 

       <mat-form-field appearance="outline">
         <mat-label>Github    </mat-label>
          <input matInput >
        </mat-form-field> 
    </form>
    <div>
      <button mat-raised-button color="accent" class="criar">Create</button>
      <button mat-raised-button color="warn" class="cancelar">Cancel</button>
    </div>
  </mat-card>

